.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

    /* Body styles */
body{
    background-color: #F5F8FF;
    max-width: 1440px;
    margin: 0% auto;
}
*{
    margin: 0%;
}

    /* shared style */
.btn{
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.btn:hover{
    background-color:#8581fa;
    cursor: pointer;
}

    /* Header-Banner Section */
.main-header{
    background-image: url(Hero-bg.png);
    width: 1440px;
    height: 698px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;

}
.nav-logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.nav-btn{
    width: 132px;
}
.header-dv{
    text-align: center;
    margin: 158px 267.5px 152px ;
}
.headline{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}
.focusd-btn{
    width: 174px;
}

    /* Section One */
.sec-one{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 116px;
}
.sec-one-h{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.sec-one-para{
    font-size: 24px;
    color: #252432;
    margin: 23px 0px 23px 0px;
}
.sec-one-btn{
    width: 229px;   
    font-size: 16px;
    font-weight: bold;
}
.sec-one-wc-img{
    border-radius: 48px;
}

    /* Section Two */
.sec-two{
    width: 1140px;
    height: 256px;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    padding-top: 50px;
    margin: 0 auto;
    margin-bottom: 137px;
}
.sec-two-h{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 40px;
}
.sec-two-main-dv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec-two-big-para{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.sec-two-small-para{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

    /* Section Three */
.sec-three-h{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.sec-three-main-dv{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.sec-three-child-dv{
    width: 366px;
    height: 243px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 24px;
    line-height: 24px;
    box-sizing:border-box;
    border-radius: 14px;
}
.sec-three-stars{
    margin-bottom: 24px;
}
.sec-three-h-p{
    margin-right: 24px;
}
.sec-three-h-p h4{
    margin-bottom: 8px;
}

.sec-three-rvw{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.sec-three-rvw img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.sec-three-rvw p{
    color: #757575;
}

    /* Section Four */
.sec-four{
    background-color: #FFFFFF;
    width: 1140px;
    height: 696px;
    padding: 71px 150px;
    border-radius: 14px;
    margin: 0 auto;
    margin-top: 137px;
    margin-bottom: 92px;
    box-sizing: border-box;

}
.sec-four-h{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.sec-four-p{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
}
.sec-four-btn{
    display: block;
    width: 195px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 500;
}
.sec-four-img{
    border-radius: 48px;
}

    /* Section Five */
.sec-five{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    margin-bottom: 71px;
    box-sizing: content-box;
}
.sec-five-h{
    font-size: 97px;
    font-weight: bold;
}
.sec-five-inpt-dv{
    display: block;
    box-sizing: border-box;
}
.sec-five-inpt-dv input, textarea{
    display: block;
    width: 497px;
    height: 70px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid rgba(214, 221, 237, 1);
    margin: 10px 0px 19px 0px;
    padding-left: 32px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.sec-five-txtarea{
    width: 497px;
    height: 135px;
    resize: none;
    padding-top: 20px;
}
.sec-five-txtarea::placeholder{
    font-size: 20px;
}
.sec-five-btn{
    width: 535px;
    height: 62px;
    font-weight: bold;
}

    /* Footer styles */
.footr{
    max-width: 1440px;
    height: 428px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding: 104px;
    box-sizing: border-box;
    
}
.footr-logo-dv{
    text-align: center;
    margin-bottom: 20px;
}
.footr-dv-h{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}
.footr-dv-p{
    color: #8987A1;
}

.footr-nav-dv ul{
    list-style: none;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    padding: 0;

}
footer ul li a{
    text-decoration: none;
    color: #8987A1; ;
}
footer ul li a:hover{
    color:#4E47FF;
}
