.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

    /* Body styles */
body{
    background-color: #F5F8FF;
    max-width: 1440px;
    margin: 0% auto;
}
*{
    margin: 0%;
}

    /* shared style */
.btn{
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
}
.btn:hover{
    background-color:#8581fa;
    cursor: pointer;
}

    /* Header-Banner Section */
.main-header{
    background-image: url(Hero-bg.png);
    width: 1440px;
    height: 698px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;

}
.nav-logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}.nav-btn{
    width: 132px;
}
.header-dv{
    text-align: center;
    margin: 158px 267.5px 152px ;
}
.headline{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}
.focusd-btn{
    width: 174px;
}

    /* Section One */
.sec-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
    margin: 116px 159px 140px;
}
.sec-one-h{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.sec-one-para{
    font-size: 24px;
    color: #252432;
    margin: 23px 0px 23px 0px;
}
.sec-one-btn{
    width: 229px;   
    font-size: 16px;
    font-weight: bold;
}
.sec-one-wc-img{
    border-radius: 48px;
}
